@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <h1 class="display-4">Hotel Reservation System</h1>
    <p>Book Rooms Now.</a>.</p>
</div>

